.gradient-text {
  background: linear-gradient(180deg, #fff, #adadad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2; /* Adjust based on your design */
  display: inline-block;
  vertical-align: middle; /* Ensures vertical alignment */
}
