@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base  */
@layer base {
  /* Define a CSS variable radius */
  :root {
    --radius: 0.5rem;
  }
  body {
    text-wrap: pretty;
    letter-spacing: -0.03em;
    /* color: rgb(var(--foreground-rgb)); */
    /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  }
  /* Remove Opera Lucid Mode */
  #detach-button-host {
    display: none;
  }
}

/* Standard classes to use sparingly */
@layer components {
}
